
*.xcuserstate

*.xcuserstate

JRDB.xcworkspace/xcuserdata/jmacmini.xcuserdatad/UserInterfaceState.xcuserstate

JRDB.xcworkspace/xcuserdata/jmacmini.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
